<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.small.mapper.TestMapper">

    <select id="getTestInfo" resultType="com.small.pojo.TestPojo">
        select *
        from testEntity
        where id &lt;&gt; 9
    </select>

    <select id="findLike" resultType="com.small.pojo.TestPojo">
        select *
        from testEntity
        where name like concat('%', #{code}, '%')
    </select>
    <select id="findLike2" resultType="com.small.pojo.TestPojo">
        SELECT *
        FROM testEntity
        WHERE MATCH(name) AGAINST (#{code});

    </select>

    <select id="getByForeach" resultType="com.small.pojo.TestPojo">
        select id ,name from (
        <choose>
            <when testEntity="list.size > 5">
                <foreach collection="list" item="item" index="index" separator="union">
                    select id, name from testEntity where
                    find_in_set(#{item},name) >0
                </foreach>
                union
                <foreach collection="list2" item="item" index="index" separator="union">
                    select id, name from testEntity where
                    find_in_set(#{item},name) >0
                </foreach>
            </when>
            <otherwise>
                select id, name from testEntity where
                id > 11110
            </otherwise>
        </choose>
        ) t
    </select>

</mapper>
